.c-about-section-wrapper {
  margin-top: 5rem;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.c-about-text {
  padding-top: 2rem;
  font-weight: 500;
  font-size: 18px;
}

.c-about-text-wrapper {
  flex: 1 1 50%;
}
.c-about-section-wrapper img {
  width: 100%;
  max-width: 350px;
  border-radius: 4px;
}

.c-about-top-image {
  position: relative;
  transform: rotate(15deg);
}
.c-about-bottom-image {
  position: relative;
  transform: rotate(-15deg);
}

.c-about-images {
  display: flex;
}

@media (max-width: 768px) {
  .c-about-images {
    gap: 0.5rem;
  }
  .c-about-top-image {
    transform: rotate(0);
  }
  .c-about-bottom-image {
    transform: rotate(0);
  }
}

@media (min-width: 1050px) {
  .c-about-section-wrapper {
    flex-direction: row;
    width: 100%;
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-left: 5%;
  }
}
