.c-contact-form {
  max-width: 400px;
  margin: auto;
}
.c-contact-section-wrapper {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
}

.c-contact-section-text {
  margin-bottom: 3rem;
}

.c-contact-section-wrapper h2 {
  margin-bottom: 2rem;
}
