.c-gallery-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.c-gallery-heading {
  padding: 130px 0% 60px;
}

@media (min-width: 768px) {
  .c-gallery-wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .c-gallery-images {
    flex-direction: row;
  }
}
