* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth !important;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3em; /* Adjust as needed */
  font-weight: bold;
  color: white;
  /* Additional styling properties */
}

h2 {
  font-size: 2.5em; /* Adjust as needed */
  font-weight: bold;
  /* Additional styling properties */
}

h3 {
  font-size: 1.5em; /* Adjust as needed */
  font-weight: bold;
  /* Additional styling properties */
}

/* Paragraph Styles */

p {
  font-size: 1.5em; /* Adjust as needed */
  /* Additional styling properties */
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }
}

body {
  background-image: linear-gradient(
    135deg,
    #91c6ff,
    #fb5607,
    #d00000,
    #9d0208,
    #6a040f,
    #370617,
    #03071e
  );

  background-attachment: fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fslightbox-open {
  height: auto !important;
}
@media (max-width: 320px) {
  h1 {
    font-size: 2.2em; /* Adjust as needed */
  }

  h2 {
    font-size: 1.7em; /* Adjust as needed */
  }

  h3 {
    font-size: 1.2em; /* Adjust as needed */
  }

  p {
    font-size: 1.2em; /* Adjust as needed */
  }
}