.c-services-section-wrapper {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 80px;
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
}

.c-service:nth-child(1) {
  flex-basis: 340px;
}
.c-service:nth-child(2) {
  flex-basis: 340px;
}
.c-service:nth-child(3) {
  flex-basis: 340px;
}
.c-service:nth-child(4) {
  flex-basis: 340px;
}

.c-services-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.c-services-heading {
  margin-bottom: 2rem;
}

.c-card {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #f2a70c;
  position: relative;
}

.c-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.c-card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #060c0e38;
  backdrop-filter: blur(6px);
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.c-card:hover .c-card-body {
  right: 0;
}

.c-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.c-card-subtitle {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.c-card-info {
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 25px;
  max-width: 40px 0;
  font-weight: 400;
}

.c-service-info-wrapper {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .c-service-info-wrapper {
    margin-left: 1rem;
  }
}

.c-service-info-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.c-service-info-wrapper h3 {
  margin-bottom: 1rem;
}

.c-service-info-wrapper ul li:before {
  content: "•";
  color: #f2a70c; /* Můžete změnit barvu na jakoukoli barvu, kterou preferujete */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.c-service-info-wrapper ul li {
  margin-bottom: 0.5rem;
  font-size: 16px;
  line-height: 25px;
}

@media (max-width: 1180px) {
  .c-service-title {
    display: none;
  }
  .c-services-wrapper {
    flex-direction: column;
  }

  .c-card-body {
    right: 0 !important;
    backdrop-filter: blur(6px);
    background: #060c0e38;
  }
}
